# Python
*.pyc
__pycache__/

# Virtual environment
venv/
env/
*.env

# IDE or editor specific files
.idea/
.vscode/

# Package directories
dist/
build/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# Miscellaneous
.DS_Store